<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Serve existing files
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # SPA Fallback
    RewriteRule . /index.html [L]
</IfModule>
